In [ ]:
import psycopg2 as db


conn = db.connect(
    host="localhost",
    port="5432",
    dbname="Cricbuzz",
    user="postgres",
    password="Tanvikha@1998"
)

print("Connected to DB")

cur = conn.cursor()

cur.execute("""
    CREATE TABLE IF NOT EXISTS CRUD_operation (
        PlayerId INT,
        PlayerName VARCHAR(20),
        Runs INT,
        Matches INT,
        Innings INT,
        Average FLOAT
    );
""")

conn.commit()
cur.close()
conn.close()

Connected to DB

In [2]:

import psycopg2 as db

conn = db.connect(
    host="localhost",
    port="5432",
    dbname="Cricbuzz",
    user="postgres",
    password="Tanvikha@1998"
)

print("Connected to DB")

cur = conn.cursor()

cur.execute("""
    INSERT INTO CRUD_operation (PlayerId, PlayerName, Runs, Matches, Innings, Average) VALUES
(1, 'Tendulkar', 15921, 200, 329, 53.79),
(2, 'Dravid', 13288, 164, 286, 52.31),
(3, 'Kallis', 13289, 166, 280, 55.37),
(4, 'Ponting', 13378, 168, 287, 51.85),
(5, 'Root', 13543, 158, 288, 51.30),
(6, 'Cook', 12472, 161, 291, 45.35),
(7, 'Sangakkara', 12400, 134, 232, 57.14),
(8, 'B Lara', 11953, 131, 232, 52.89),
(9, 'Kohli', 8676, 111, 187, 49.29),
(10, 'Williamson', 8743, 161, 286, 54.89);
""")

conn.commit()
print("Inserted successfully")
cur.close()
conn.close()

Connected to DB
Inserted successfully

In [5]:
import psycopg2 as db


conn = db.connect(
    host="localhost",
    port="5432",
    dbname="Cricbuzz",
    user="postgres",
    password="Tanvikha@1998"
)

print("Connected to DB")

cur = conn.cursor()

cur.execute("""
    SELECT * FROM CRUD_operation;
""")

print("Fetched")

conn.commit()
cur.close()
conn.close()

Connected to DB
Fetched

In [8]:
import requests

url = "https://cricbuzz-cricket.p.rapidapi.com/stats/v1/player/search"

querystring = {"plrN":"virat"}

headers = {
	"x-rapidapi-key": "316be0a36dmsh4662afd995a02bbp1c7c24jsn649cce21a961",
	"x-rapidapi-host": "cricbuzz-cricket.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

print(response.json())

{'player': [{'id': '9161', 'name': 'Chamani Seneviratna', 'teamName': 'Sri Lanka', 'faceImageId': 151508, 'dob': '1978-11-14'}, {'id': '1413', 'name': 'Virat Kohli', 'teamName': 'India', 'faceImageId': 616517, 'dob': '1988-11-05'}, {'id': '10213', 'name': 'Virat Singh', 'teamName': 'India', 'faceImageId': 182026, 'dob': '1997-12-08'}], 'category': 'virat'}